.middleHomeSide{
    width: 100%;
    /* border: 1px solid; */
    padding: 0px 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 0;
    
}
.storyBlock{
    width: 630px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    overflow-x: auto;
    left: 0;
    
}
.storyBlock::-webkit-scrollbar{
    display: none;
}
.story{
    height: 66px;
    width: 66px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
    /* border: 1px solid; */
}
.imageDiv{
    width: 56px;
    height: 56px;
    border-radius: 100%;
    padding: 2px;
    border:2px solid purple;
}
.statusImg{
    width: 56px;
    height: 56px;
    border-radius: 100%;
}
.profileName{
    font-size: 12px;
}

.PostSection{
    /* border: 1px solid; */
    width: 60%;
    display: flex;
    flex-direction: column;
}
.post{
    width: 100%;
    border-bottom: 1px solid #999999;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.postInfo{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding:5px 0;
}
.postInfoImg{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    object-fit: cover;
}
.postInfousername{
    font-size: 12px;
    font-weight: 600;
}
.timingInfo{
    color: #999999;
    font-size: 14px;       
}
.PostImage{
    width: 100%;
    object-fit: cover;
}
.iconsBlock{
    width: 100%;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
}
.leftIcon{
    display: flex;
    gap: 15px;
}
.likeSection{
    width: 100%;
}
.imagesLike{
    position: relative;
    
}
.likeImg{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    position: absolute;
}
.likeImg2{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    position: absolute;
    left: 3%;
}
.numberOfLikes{
    position: absolute;
    font-size: 14px;
    font-weight: 600;
    margin-left: 35px;
}
.postAbout{
    width: 100%;
    margin-top: 25px;
    display: flex;
}
.postAboutName{
    font-size: 14px;
    font-weight: 600;
}
.infoComment{
    font-size: 14px;
    margin-left: 10px;
}
.noOfComment{
    color: #999999;
    margin-top: 5px;
    font-size: 14px;
}
.addAComment{
    color: #999999;
    margin-top: 5px;
    font-size: 14px;
}
span{
    color: #999999;
}


/* ..................... */
.mobileTopBar{
    display: none;
}
@media screen and (min-width:320px) and (max-width:920px) {
    .middleHomeSide{
        width: 100%;
        padding: 0px 1px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .storyBlock{
        width: 100vh;
    }
    .PostSection{
        width: 100%;
    }

    .mobileTopBar{
        width: 100%;
        display: inline;
        padding: 0 20px;
    }
    .instaLogoMobile{
        width:  103px;
        margin:0 20px;
    }
    .imageDiv{
        width: 56px;
        height: 56px;
        border-radius: 100%;
        padding: 2px;
        border:2px solid purple;
    }
    .statusImg{
        width: 56px;
        height: 56px;
        border-radius: 100%;
    }

}


